<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <listener>
        <listener-class>juego.servlets.SessionCookieConfigListener</listener-class>
    </listener>
    <!-- Servlet para registrar un usuario -->
    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>juego.servlets.RegistrarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>
    <!-- Servlet para login de un usuario -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>juego.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!-- Servlet para CrearPartidaServlet de un usuario -->
    <servlet>
        <servlet-name>CrearPartidaServlet</servlet-name>
        <servlet-class>juego.servlets.CrearPartidaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearPartidaServlet</servlet-name>
        <url-pattern>/CrearPartidaServlet</url-pattern>
    </servlet-mapping>
    <!-- Servlet para UnirsePartidaServlet de un usuario -->
    <servlet>
        <servlet-name>UnirsePartidaServlet</servlet-name>
        <servlet-class>juego.servlets.UnirsePartidaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnirsePartidaServlet</servlet-name>
        <url-pattern>/UnirsePartidaServlet</url-pattern>
    </servlet-mapping>
    <!-- Servlet para esperarConexionServlet-->
    <servlet>
        <servlet-name>esperarConexionServlet</servlet-name>
        <servlet-class>juego.servlets.esperarConexionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>esperarConexionServlet</servlet-name>
        <url-pattern>/esperarConexionServlet</url-pattern>
    </servlet-mapping>
    <!-- Servlet para insertarFicha-->
    <servlet>
        <servlet-name>InsertarFichaServlet</servlet-name>
        <servlet-class>juego.servlets.InsertarFichaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarFichaServlet</servlet-name>
        <url-pattern>/InsertarFichaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsertarFicha</servlet-name>
        <servlet-class>juego.servlets.InsertarFichaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarFicha</servlet-name>
        <url-pattern>/InsertarFicha</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TurnoEstado</servlet-name>
        <servlet-class>juego.servlets.TurnoEstado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TurnoEstado</servlet-name>
        <url-pattern>/TurnoEstado</url-pattern>
    </servlet-mapping>
    <!--Servlet para ObtenerUltimoTurnoServlet-->
    <servlet>
        <servlet-name>ObtenerUltimoTurnoServlet</servlet-name>
        <servlet-class>juego.servlets.ObtenerUltimoTurnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObtenerUltimoTurnoServlet</servlet-name>
        <url-pattern>/ObtenerUltimoTurnoServlet</url-pattern>
    </servlet-mapping>
    <!--Obtener el servlet FinPartidaServlet-->
    <servlet>
        <servlet-name>FinPartidaServlet</servlet-name>
        <servlet-class>juego.servlets.FinPartidaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FinPartidaServlet</servlet-name>
        <url-pattern>/FinPartidaServlet</url-pattern>
    </servlet-mapping>
</web-app>
